

/* Kontaktskjema============================================================================================================ */
.contact-form {
  width: 85%;
  margin-top: 20px; /* Adjust the top margin */
  margin-bottom: 20px; /* Adjust the bottom margin */
  max-width: 600px; /* Set maximum width for the contact form */
  margin-left: auto; /* Center the contact form horizontally */
  margin-right: auto; /* Center the contact form horizontally */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 8px; /* Add border radius for rounded corners */
  background-color: #f9f9f9; /* Add a light gray background color */
  padding: 20px; /* Add padding */
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc; /* Add border for input fields */
  border-radius: 4px; /* Add border radius for rounded corners */
}

.contact-form button {
  padding: 10px 20px;
  background-color: #ff6f61; /* Warm red color */
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px; /* Add border radius for rounded corners */
  transition: background-color 0.3s ease; /* Add smooth transition for background color change */
}

.contact-form button:hover {
  background-color: #ff5246; /* Darker shade of red on hover */
}
